---
import Layout from "../layouts/Layout.astro";
import myData from "../../constants/data.js";
import { Image } from "astro:assets";   
import Window from "../components/Window.astro";
import Card from "../components/Card.astro";
import WikipediaProfile from "../components/WikipediaProfile.astro";
import { Avatar } from "../../src/images/images.js";
import Navbar from "../components/Navbar.astro";


const name = "Caliche Orozco";
  const description = [
  "Caliche Orozco is a Computer Systems Analyst with 5+ years of experience analyzing business requirements, designing system solutions, and leading cross-functional technology teams. With expertise in React, TypeScript, Python, GraphQL, REST APIs, Next.js, and TailwindCSS, Caliche is dedicated to delivering high-quality, efficient, and scalable solutions that measurably improve operational efficiency. He has led requirements analysis sessions with international clients, designed automation tools and dashboards from the ground up that increased order processing speed by 80%, and improved website performance by 50%. Caliche has collaborated with interdisciplinary teams across steel manufacturing, education, consulting, and foreign trade, and has served as sole technology lead owning all architecture and implementation decisions. His proficiency in full-cycle systems analysis, UX/UI best practices, agile methodologies, and reusable code development showcases his commitment to excellence. Fluent in English and driven by continuous learning, with a strong interest in machine learning and AI-enhanced systems, Caliche is a valuable asset for organizations seeking technology solutions grounded in real business needs.",
  "If you are searching for an experienced and detail-oriented systems analyst who prioritizes quality, Caliche Orozco is the ideal candidate. His expertise, combined with his ability to work effectively with international teams across Mexico, Canada, and Australia, ensures the delivery of exceptional digital solutions. Don't hesitate to reach out to Caliche to discuss your project requirements and explore how he can contribute to your success.",
]
---

<Layout title="About Caliche Orozco">
    <main class="aboutContainer relative">
      <div class="containerNavbar"> 
        <Navbar />
      </div>
      <div class="windowContainer"> 
          <Window title="About">
            <div class="flex flex-col md:flex-row md:items-start gap-8">
              <WikipediaProfile name={name} imageSrc={Avatar} description={description} role={myData.designation} currentJob={myData.about.currentCompany} currentProject={myData.about.currentProject} education={myData.about.education} languages={myData.about.languages} />
            </div>
          </Window>
      </div>
      </main>
</Layout>