---
import Layout from "../layouts/Layout.astro";
import myData from "../../constants/data.js";
import { Image } from "astro:assets";   
import Window from "../components/Window.astro";
import WindowSection from "../components/WindowSection.astro";
import Navbar from "../components/Navbar.astro";

import type { ImageMetadata } from "astro";

const isImageMetadata = (src: unknown): src is ImageMetadata =>
  typeof src === "object" &&
  src !== null &&
  "src" in src &&
  "width" in src &&
  "height" in src;

---

<Layout title="Caliche Orozco's Contact">
    <main class="contactContainer relative">
      <div class="containerNavbar"> 
        <Navbar />
      </div>
      <div class="windowContainer"> 
        <Window title="Contact">
        <WindowSection title={"Social Media"} >
          <ul class="flex flex-wrap justify-center gap-4 px-4">
              {
                myData.socialLinks.map((item, key) => (
                  <li>
                <a href={item.url} target="_blank">
                <div 
                  class="ui-icon-tile mb-4"
                >
                  {isImageMetadata(item.icon) ? (
                    <Image src={item.icon} alt={item.name} width={50} height={50} />
                  ) : (
                    <Image src={String(item.icon)} alt={item.name} width={50} height={50} />
                  )}
                  <span>{item.name}</span>
                </div>
                </a>
              </li>
                ))
              }
          </ul>
            </WindowSection>
        </Window>
      </div>
        </main>
</Layout>