---
import Layout from "../layouts/Layout.astro";
import myData from "../../constants/data.js";
import Window from "../components/Window.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Caliche Orozco's Projects">
  <main class="projectContainer relative">
    <div class="hidden containerNavbar">
      <Navbar />
    </div>
    <div class="windowContainer">
      <Window title="Projects">
        <div
          class="JobContainer Container flex flex-col gap-y-1 lg:px-96 max-w-full"
        >
          {
            myData.projects.map((proj, key) => (
              <Card
                title={proj.title}
                link={proj.link}
                imgUrl={proj.imgUrl}
                description={proj.description}
                date={proj.date}
                github={proj.github}
                stack={proj.stack}
                key={key}
              />
            ))
          }
        </div>
      </Window>
    </div>
  </main>
</Layout>
