---
import { Image } from "astro:assets";
import Chip from "../components/Chip.astro";
import { getBackground } from "../services/Badge.js";

import { GithubIcon } from "../images/images.js";



interface Props {
	title: string;
	github: string;
	imgUrl: string;
	link: string;
}

const { title, github, imgUrl, link, stack } = Astro.props;



---

<div class="relative overflow-hidden rounded-2xl">
	<div class="object-cover">
	  <a href={link} target="_blank" class="w-full block shadow-2xl">
		<Image
		  src={imgUrl}
		  alt={`${title} portfolio`}
		  class=" lg:hover:animate-pulse lg:hover:animate-infinite lg:hover:animate-duration-1000 lg:hover:animate-ease-linear lg:hover:animate-alternate object-cover h-full w-full"
		  width={300}
		  height={50}
		/>
	  </a>
	</div>

	<div class="absolute flex justify-center items-center w-full flex-wrap gap-2 bottom-5 z-10">
		{stack.map((item) => {
		  return (
			<Chip background={getBackground(item)}>
			  {item}
			</Chip>
		  );
		})}
	  </div>

	  

	<a href={github} target="_blank" class="w-full block shadow-2xl">
	  <h1 class="absolute flex items-center top-5 right-2 text-gray-50 font-bold sm:text-lg  md:text-2xl bg-green-600 hover:bg-green-800 rounded-lg px-2">
		<div class="flex gap-x-1 py-1">
			<Image
				src={GithubIcon}
				alt="Close window"
			/>
			{title}
		<div>
		
	  </h1>
	</a>
  </div>